/* Justin Evans*/

* {
    margin: 0;
    padding: 0;
}

html {
    font: 90%/1.3 arial, sans-serif;
    padding: .55em;
    z-index: -1;
    position: relative;
}

.BeerList {
    background: green;
    padding: 2em;
    margin-left: 10%;
    margin-right: 10%;
    z-index: -1;
    position: relative;
}


h2 {
    text-align: left;
    z-index: 10000;
    position: relative;
    font-size: 300%;
    height: 100;
    width: 100;
    resize: initial;
}

.imgBunny {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

fieldset div {
    margin: 0.3em 0;
    clear: both;
}

form {
    margin: 1em;
    width: 25em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    opacity: .6;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

legend {
    color: #000203;
    font-size: 2em;
}

input {
    padding: 0.15em;
    width: 10em;
    border: 1px solid #ddd;
    background: #fafafa;
    font: bold 1em arial, sans-serif;
    display: block;
    float: left;
}

input:hover,
input:focus {
    border-color: #c5c5c5;
    background: #f6f6f6;
}

#submit {
    margin: 1em;
    width: 69px;
    height: 26px;
    overflow: hidden;
    border: 0;
    display: block;
}

#submit:hover {
    background-position: 0 -26px;
}

textarea {
    padding: 0.15em;
    width: 200px;
    height: 50px;
    columns: 10;
    display: block;
}

.error {
    color: #FF1400;
}